
html, body {
  height: 100%;
}

main {
  height: 100%;
}

.container {
  width: 30rem;
}
/* Question Styling */

#question {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}


/* Answer Buttons */
#answer-buttons .btn {
  height: 125px;
  width: 175px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-shadow: 2px 1px black;
  line-height: 1em;
}

#answer-buttons .btn:hover {
  opacity: 0.5;
}

/* Answer Button Images */

/* Quesiton 1 */
.dogs {
  background-image: url(./Assets/dogs.png);
}

.flowers {
  background-image: url(./Assets/flowers.png);
}

.food {
  background-image: url(./Assets/food.png);
}

.cookies {
  background-image: url(./Assets/cookies.png);
}

/* Question 2 */

.park {
  background-image: url(./Assets/park.png);
}

.beach {
  background-image: url(./Assets/beach.png);
}

.home {
  background-image: url(./Assets/home.png);
}

.snow {
  background-image: url(./Assets/snow.png);
}

/* Question 3 */

.annies {
  background-image: url(./Assets/annies.png);
}

.cowels {
  background-image: url(./Assets/cowels.png);
}

.trails {
  background-image: url(./Assets/trails.png);
}

.island {
  background-image: url(./Assets/island.png);
}